name: GitHub Actions Test

on: push

jobs:
    build:
    # The type of runner that the job will run on
        runs-on: self-hosted
        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v3
              with:
                repository: 'FooIbar/EhViewer'
            # Runs a single command using the runners shell
            - name: Set up Git
              run: |
                git config --global user.name 'Chenzhujia'
                git config --global user.email 'njuee.chen@gmail.com'
            - name: Set up SSH key
              run: |
                mkdir -p ~/.ssh
                echo "${{secrets.SSh}}" > ~/.ssh/id_rsa
                chmod 600 ~/.ssh/id_rsa
                ssh-keyscan github.com >> ~/.ssh/known_hosts
            - name: Push to Private Repo
              env:
                PAT: ${{ secrets.TOKEN }}
              run: |
                git clone git@github.com:stellaly/private.git private
                # cp -r EhViewer/* stellaly/
                # cd stellaly
                cd private
                cp -r ../* ./
                git add .
                git commit -m "Update from public repo"
                git push origin master  # 或者你想要的默认分支

            # - name: Clean up
            #   run: rm -rf stellaly/
